html,
body {
/*    background-image: url(backgroundsexy.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;*/
    width: 100%;
    height: 100%;
}

.container > hr {
    margin: 100px;
}
div > hr {
    transform-origin: 5px;
}
    .container > hr:hover {
    transform: translateX(200px);
    }

body {
    font-family: Lato, 'Montserrat', sans-serif;
}
hr {
    max-width: 65px;
    border-width: 5px;
    border-color: rgba(113, 207, 238, 0.8); 
  }

.faded {
    color: rgba(113, 207, 238, 0.8);
}

header.startup {
    background-position: center;
    background-image: url(background.jpg);
    background-size: cover;
    height: 100%;
}

header.startup hr {
    margin-top: 200px;
    margin-bottom: 30px; 
}

header.startup h1 {
    font-size: 2rem;
    /*margin-top: 300px;
    margin-bottom: 0px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 3rem;
    text-align: 50 50;*/
}

.btn {
    /*margin: 0px 450px 0px 450px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 100px;
    font-family: Lato, 'Montserrat', sans-serif;*/
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px; 
}

.btn-xl {
    padding: 1rem 2rem; 
}
